# ─── DATABASE PostgreSQL LOKAL ───────────────
DB_HOST=localhost
DB_PORT=5432
DB_NAME=skd_academy
DB_USER=postgres
DB_PASSWORD=isi_password_postgres_kamu

# ─── JWT SECRET ──────────────────────────────
JWT_SECRET=skdacademy_secret_lokal_2025

# ─── SERVER ──────────────────────────────────
PORT=3000

# ─── FRONTEND URL (lokal) ────────────────────
FRONTEND_URL=http://127.0.0.1:5500
